.chat-messages-div {
    height: 400px;
    overflow-y: auto;
}

.robot-div {
    display: flex;
    justify-content: start;
    align-items: start;
}

.user-div {
    display: flex;
    justify-content: end;
    align-items: start;
}

.message-div {
    background-color: rgb(237, 237, 237);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.user-img {
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-message-time {
    font-size: 14px;
    color: rgb(125, 125, 125);
    margin-top: 5px;
}